:root{
		--green:#50E3C2;
		--fm:48px;
		--fm2: 24px;
		--gray:rgba(0,0,0,.3);
		--gray2:rgba(0,0,0,.1);
	}
	.header{
		width: 960px;
		height:2000px;
		margin:auto;
		font-family: 'Roboto', sans-serif;

	}
	.hearder:after{
		content: '';
		display: block;
		height: 0;
		width:100%;
		clear:both;
	}
	.title{
		font-size: var(--fm);
		position: relative;
		height:36px;
		line-height: 36px;
		z-index: 2;
	}
	.title:before,.title:after{
		font-size: var(--fm);
		position: absolute;
		content: attr(data-content);
		overflow: hidden;		
	}
	.title:before{	
		color:var(--gray);
		height:14px;
		transform: translate(0%,-75%);
	}
	.title:after{
		color:var(--gray2);
		height:10px;
		transform: translate(-100%,-180%);
	}
	.num{
		font-size: var(--fm);
		position: absolute;
		z-index: 2;
	}
	.striped{
		position: absolute;
		z-index: 1;
		width: 200px;
		height: 80px;
		background: repeating-linear-gradient(
			135deg,
			var(--green) 0px,
			var(--green) 20px,
			transparent 20px,
			transparent 40px,
			var(--green) 40px,
			var(--green) 60px,
			transparent 60px,
			transparent 80px
			);
		background-size: 56px 56px;
	}
	.subtitle{
		font-size: var(--fm2);
		font-family: 700;
		font-style: italic;
		z-index: 2;
		position: absolute;
	}
	.bordered{
		position: absolute;
		border: 20px solid var(--green);
		z-index: -2;
	}
	.block{
		position: absolute;
		background-color: var(--green);
		z-index: -1;
	}
	.sec .img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.sec .img:hover{
		box-shadow: 10px 10px var(--gray2);
	}
	.sec .img img{
		width: 100%;
		height: 100%;
	}
